h4 {
	text-align: center;
}
body {
	background-color:#968769;
}

.list-group-item {
	background-color: #0a1f42;
	color:white;
}
.card {
	display:inline-block;
	width:45%;
	margin-right:2%;
	margin-left:2%;
	margin-top:1em;
}
.card-block{
	text-align: center;
}

@media (max-width: 630px){
	.card {
		display:block;
		margin:auto;
		width:90%;
		margin-top:1em;
	}
}